<div id="watchlist-container" class="row">
  <div class="col-md-6">
    <h4>Aktie Daten</h4>
    <ul>
      <li>Name: {{name}}</li>
      <li>Symbol: {{data?.symbol}}</li>
      <li>Open: {{data?.open}}</li>
      <li>High: {{data?.low}}</li>
      <li>Price: {{data?.price}}</li>
      <li>Volume {{data?.volume}}</li>
      <li>Latest Trading Day {{data?.latestTradingDay}}</li>
      <li>Previous Close {{data?.previousClose}}</li>
      <li>Change {{data?.change}}</li>
      <li>Change Percent {{data?.changePercent}}</li>
    </ul>

  </div>
  <div class="col-md-6">

  </div>

</div>
<div id="bottom-nav">

</div>