<div id="watchlist-wrapper">
  <div class="sub-nav">
    <h4>Aktien in Watchlist</h4>
  </div>
  <div id="watchlist-content">

    <table id="watchlist-table" matSort mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let stock">{{stock.name}}</td>
      </ng-container>
      <ng-container matColumnDef="symbol">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>WKN</th>
        <td mat-cell *matCellDef="let stock">{{stock.symbol}}</td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>€</th>
        <td mat-cell *matCellDef="let stock">{{stock.currency}}</td>
      </ng-container>

      <ng-container matColumnDef="LH">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>OL</th>
        <td mat-cell *matCellDef="let stock">{{stock.limitHigh}}</td>
      </ng-container>

      <ng-container matColumnDef="LL">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>UL</th>
        <td mat-cell *matCellDef="let stock">{{stock.limitLow}}</td>

      </ng-container>

      <ng-container matColumnDef="ULL">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>UL</th>
        <td mat-cell *matCellDef="let stock">
          <mat-checkbox class="example-margin" [(ngModel)]="stock.useLowLimit"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Löschen </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div id="delete-btn-wrapper">
            <button mat-icon-button (click)="deleteStockInWatchlistCollection(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>



<div id="limit-reached-stocks">
  <h4>Limit erreicht</h4>
  <table id="limit-reached-table" matSort mat-table [dataSource]="dataSourceLimitReached">
    <ng-container matColumnDef="name">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let stock">{{stock.name}}</td>
    </ng-container>
    <ng-container matColumnDef="symbol">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>WKN</th>
      <td mat-cell *matCellDef="let stock">{{stock.symbol}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Preis</th>
      <td mat-cell *matCellDef="let stock">{{stock.price}}</td>
    </ng-container>

    <ng-container matColumnDef="changePercent">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Prozentual</th>
      <td mat-cell *matCellDef="let stock">{{stock.changePercent}}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Löschen </mat-header-cell>
      <mat-cell *matCellDef="let stock">
        <div id="delete-btn-wrapper">
          <button mat-icon-button (click)="deleteStockInLimitReachedCollection(stock.id, stock.symbol)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsLimitReached"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsLimitReached"></tr>
  </table>
</div>

<div id="bottom-nav">
  <button routerLink="/search" type="button" id="add-to-watchlist-btn" type="submit" mat-fab class="float-right">
    <i class="material-icons">add</i>
  </button>
</div>